.top-icon{
    cursor: pointer;
    display: none;
    outline: none;
    color: #BDA87A;
    position: fixed;
    background: #ffff;
    border-radius: 99rem;
    right: 24px;
    bottom: 20px;
    transition: all 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }
}
.to-top {
    display: block !important;
}