.top-icon{
    cursor: pointer;
    display: none;
    outline: none;
    color: #BDA87A;
    position: fixed;
    background: #ffff;
    border-radius: 99rem;
    right: 24px;
    bottom: 20px;
}
.to-top {
    display: block !important;
}