.frontcart-progress-content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 400px;
        margin-right: 20px;
    }
    @include pd{
        flex-direction: column;
        img{
            max-width: 400px;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}
.contact-content{
    width: 100%;
    flex-wrap: wrap;
}
.contact-map{
    width: 70%;
    margin-right: 5%;
    @include pd{
        width: 100%;
        margin-right: 0;
    }
}
.map{
    width: 100%;
    height: 500px;
    @include pd{
        height: 400px;
    }
}
.contact-data{
    width: 25%;
    @include pd{
        width: 100%;
        margin-top: 16px;
        text-align: center;
    }
}