.frontcart-progress-title {
    .frontcart-progress-title-fir {
        padding-right: 5px;
        border-right: 3px solid #BDA87A;
    }

    .frontcart-progress-title-sec {
        margin-left: 5px;
        color: #663224;
    }
}